head, body {
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  /* background: radial-gradient(#c3ebff, aliceblue, white); */
  background-image: url(./images/bubbles-large.png);
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .matching {
    flex-direction: column;
  }
}

.green {
  color: green;
}

.red {
  color: red;
}
